header {
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    color: red;
    width: 100vw;
    height: 20vh;
}

nav {
    background-color: rgb(159, 209, 230);
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 8vh;
    padding: 5px;
    margin: 3px;

}

article {
    background-color: rgb(212, 193, 197);
    width: 30vw;
    height: 15vh;
    padding: 3px;
    margin: 10px;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.big_article {
    width: 62vw;
    height: 15vh;
    align-self: flex-end;
}

aside {
    background-color: rgb(210, 231, 166);
    width: 32vw;
    height: 50vh;
    padding: 5px;
    float: right;
    display: flex;
    align-items: center;
}

section {
    background-color: rgb(247, 234, 236);
    width: 65vw;
    height: 50vh;
    padding: 5px;
    margin-bottom: 3px;
    float: left;
}

footer {
    background-color: rgb(212, 207, 208);
    width: 100vw;
    height: 12vh;
    padding: 3px;
    margin: 3px;
    display: flex;
    align-items: center;
}

p {

    display: flex;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    justify-content: center;
}

.footer_block {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 5px;
    margin: 85px;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(245, 241, 242);

}


h2 {
    text-align: center;
}

h3 {
    display: flex;
    align-content: center;
}